  *{
        margin: 0;
        padding: 0;
    }
    html{
        box-sizing: border-box;
    }
    *,*:before,*:after{
        box-sizing: inherit;
    }
    body{
        margin: 0 auto;
        overflow: hidden;
    }
    a:hover{
        text-decoration: none;
    }
    ul,li{
        list-style: none;
    }